body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: black;
    background-size: 65px;
    color: black;
    background-image: none;
    scrollbar-color: black white;
    line-height: 1.5em;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

#container {
    width: 75%;
    max-width: 900px;
    margin: 0 auto;
}

#container a {
    color: black;
    font-weight: bold;
    border: 2px solid transparent;
}

#container a:hover {
    color: #FFFFFF;
    border: 2px solid black;
    padding-left: 1px;
    padding-right: 1px;
    background-color: black;
    text-decoration: none;
}

#header {
    width: 100%;
    background-color: black;
    height: 10vh;
}

#flex {
    display: flex;
}

aside {
    background-color: #FFFFFF;
    width: 175px;
    padding: 20px;
}

main {
    background-color: #FFFFFF;
    flex: 1;
    padding: 20px;
    order: 2;
}

#leftSidebar {
    order: 1;
    border-right: none;
}

footer {
    background-color: white;
    width: 100%;
    height: 40px;
    padding: 10px;
    padding-bottom: 0;
    text-align: right;
    font-size: smaller;
}

footer a {
    text-decoration: none;
}

h1,
h2,
h3 {
    color: black;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

strong {
    color: black;
}

.box {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px;
}

.tab {
    float: left;
    border: none;
    background-color: inherit;
    width: 100%;
    height: auto;
}

.tab button {
    display: block;
    background-color: inherit;
    color: inherit;
    font-weight: 800;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

.tab button:hover {
    background-color: black;
    color: #FFFFFF;
}

.tab button.active {
    background-color: black;
    color: #FFFFFF;
}

.tabcontent {
    width: 100%;
    height: 65vh;
    display: none;
    overflow: auto;
    padding-right: 5px;
}

.update {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 10px;
    margin-right: auto;
    margin-top: 10px;
    margin-left: auto;
    font-size: smaller;
}

.update h2 {
    color: white;
    display: inline;
}

.update p {
    padding: 0;
    margin: 0;
}

.update a,
.update a:hover,
.update a:visited {
    color: white;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

.fa-arrow-up-right-from-square {
    margin-left: 3px;
    vertical-align: middle;
}

@keyframes glitch {
    0% {
        text-shadow: 2px 2px greenyellow, -2px -2px tomato;
        transform: translate(-5px, 0);
        transform: rotate(2deg);
    }

    20% {
        text-shadow: -2px 2px purple, 2px -2px cyan;
        transform: translate(-2px, 2px);
        transform: rotate(1deg);
    }

    40% {
        text-shadow: 3px -3px cyan, -3px 3px greenyellow;
        transform: translate(2px, -2px);
    }

    60% {
        text-shadow: -3px -3px tomato, 3px 3px fuchsia;
        transform: translate(-3px, 3px);
    }

    80% {
        text-shadow: 4px 4px fuchsia, -4px -4px cyan;
        transform: translate(3px, -3px);
        transform: rotate(-1deg);
    }

    100% {
        text-shadow: -2px 2px cyan, 2px -2px fuchsia;
        transform: translate(0, -2px);
        transform: rotate(-2deg);
    }
}

.glitch {
    animation: glitch 0.6s infinite alternate;
    padding-left: 5px;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 16px;
    }

    #container {
        max-width: 100%;
        width: 100%;
    }

    #flex {
        flex-wrap: wrap;
    }

    #leftSidebar {
        width: 100%;
        border-bottom: 1px dotted black;
    }

    #header {
        display: none;
    }

    #footer {
        text-align: center;
        border-top: 1px dotted black;
        height: 100%;
        padding-bottom: 10px;
        font-size: 12px;
    }

    .tab {
        float: none;
    }

    .tabcontent {
        min-height: 350px;
        height: 100%;
    }

    .tab button {
        font-weight: 800;
    }

}